<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your chats</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }
        form {
            margin-top: 20px;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            resize: none;
        }
        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <p> Edit your chat <b> id: <%= chat._id %> </b></p>
    <p>This chat was sent from <b><%= chat.from %> </b>to <b><%= chat.to %></b></p>

    <form method="POST" action="/chats/<%= chat._id %>?_method=PUT">
        <textarea name="message" rows="6" cols="50"><%= chat.message %></textarea> <br>
        <button type="submit">Edit</button>
    </form>
</body>
</html>
