<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats App</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <h2>All chats</h2>
    <br>
    <form method="GET" action="/chats/new">
        <button class="new-chat-btn">New Chat</button> 
    </form>
    <br>
  <%  for(let chat of chats){ %>
        <div class="chat">
            <p>From :<i> <%=chat.from%></i></p>
            <p>Received By :<i> <%=chat.to%></i></p>
            <div class="mesg">
            <p><%=chat.message%></p>
            <form method="GET" action="/chats/<%=chat.id%>/edit">
                <button class="new-chat-btn" >Edit</button>
            </form><br>
            <form method="POST" action="/chats/<%=chat.id%>?_method=DELETE">
                <button class="new-chat-btn">Delete</button>
            </form>
            </div>
            <hr>
            <p><%=chat.created_at.toString().split(" ")[4] %></p>
           <p><%=chat.created_at.toString().split(" ").slice(0,4).join("-") %></p>


        </div>
        <br /><br/>
<% } %>
    
</body>


</html>